* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color:#42273B;
    color: #CF0E00;
}

.titulo-destaque {
    color: #00D9C0;
}

.apresentacao {
    display: flex;
    align-items: center;
}