@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #2B2E4A;
    --cor-secundaria: #E84545;
    --cor-terciaria: #903749;
    --cor-hover: #53354A;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

    --font--size-title: 2.25rem;
    --font--size-content: 1.5rem;
    --font--size--footer: 1rem;

    --image--size--width: 50%;

    --content--size--width: 50%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5%;
}
.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: var(--font--size-content);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__content {
    width: var(--content--size--width);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__content__title {
    font-family: var(--font-primaria);
    font-size: var(--font--size-title);
}

.apresentacao__image {
    width: var(--image--size--width);
}

.titulo-destaque {
    color: #00D9C0;
}

.apresentacao__content__text {
    font-family: var(--font-secundaria);
    font-size: var(--font--size-content);
}

.apresentacao__content__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__content__links__title {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: var(--font--size-content);
}

.apresentacao__content__links__nav {
    display: flex;
    width: var(--content--size--width);
    padding: 10px;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--font-secundaria);
    /* background-color: #22D4FD; */
    text-align: justify;
    font-size: var(--font--size-content);
    border-radius: 8px;
    padding-top: 21.5px 0 21.5px 0;
}

.apresentacao__content__links__link:hover {
    background-color: var(--cor-hover);
    font-style: italic;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-family: var(--font-secundaria);
    font-size: var(--font--size--footer);
    font-weight: 400;
}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 10% 0% 0% 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 5%;
    }
    
    .apresentacao__content {
        width: auto;
    }
}